.login-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F1F5F8;
  }
  
 .login-form h1 {
    color: #3355AA;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .login-text{
    margin-left: 40%;
  }
 .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main{
    background-color: #F1F5F8;
  }
 .login-form label {
    font-size: 18px;
    color: #3355AA;
    margin-bottom: 10px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #3355AA;
  }
  
 .login-form button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .login-form button:hover {
    background-color: #FF7F00;
  }
  .log h3{
    color: red;
   
  }
  .log{
    width: 300px;
    margin-left: 170px;
}

.submit-btn{
  padding-left: 1%;
}